<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheet.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <div>
        <h2>Code</h2>
      </div>
      <div>
        <h2>Headers</h2>
        <h1>h1</h1>
        <h2>h2</h2>
        <h3>h3</h3>
        <h4>h4</h4>
        <h5>h5</h5>
        <h6>h6</h6>
      </div>
      <div>
        <h2>Links</h2>
      </div>
      <div>
        <h2>Tables</h2>
        <table>
          <caption>
            Front-end web developer course 2021
          </caption>
          <thead>
            <tr>
              <th scope="col">Person</th>
              <th scope="col">Most interest in</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Chris</th>
              <td>HTML tables</td>
              <td>22</td>
            </tr>
            <tr>
              <th scope="row">Dennis</th>
              <td>Web accessibility</td>
              <td>45</td>
            </tr>
            <tr>
              <th scope="row">Sarah</th>
              <td>JavaScript frameworks</td>
              <td>29</td>
            </tr>
            <tr>
              <th scope="row">Karen</th>
              <td>Web performance</td>
              <td>36</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row" colspan="2">Average age</th>
              <td>33</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div>
        <h2>Code</h2>
        <p>
          The <code>push()</code> method adds one or more elements to the end of an array and returns the new length of the
          array.
        </p>
      </div>
      <div>
        <h2>pre</h2>
        <p>Using CSS to change the font color is easy.</p>
        <pre>
body {
  color: red;
}
</pre>
      </div>
      <div>
        <h2>iFrame</h2>
        <iframe
  id="inlineFrameExample"
  title="Inline Frame Example"
  width="300"
  height="200"
  src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
        </iframe>
      </div>
    </div>
  </body>
</html>
